<h1>MY FAVORITE MUSIC ALBUMS</h1>

<p>
  Powered by Spring Boot 3.0
</p>

<ul>
  {{#albums}}
    <li>{{artist}} - {{title}} - {{year}} </li>
  {{/albums}}
</ul>

ADD new:
<form action="/new-album" method="post">
  Artist<input type="text" name="artist">
    Title<input type="text" name="title">
      Year<input type="text" name="year">
  <button type="submit">Submit</button>
</form>
